<html>

<head>
    <title>Digital Professors :: {{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a5d1898ad5.js"></script>
</head>

<body>
    {% if user.is_authenticated %}

    <nav class="navbar navbar-toggleable-sm navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="/">Digital Professors | <strong>{{ user.usertype|title }}</strong></a>
        <div class="navbar-collapse collapse" id="navbar">
            <div class="navbar-nav mr-auto">
                {% for link in user.nav_links %}
                <a class="nav-item nav-link" href="{% url link.url %}">{{ link.name }}</a> {% endfor %}
            </div>
            <div class="my-2 my-md-0 mr-2">
                {% if user.usertype != 'client' %}
                {% block add-session %}
                <a href="{% url 'add-session' %}" class="btn btn-outline-success"><span class="fa fa-plus"> </span>&nbsp; Add Session</a>
                {% endblock %}
                {% endif %}
                <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 60px">
    
    {% endif %} 

    {% block content %} 

    </div>

    {% endblock %}
</body>

</html>
