{% extends 'base.html' %} 

{% block content %}

<div class="row pt-3 text-center">
    <form class="form form-inline" style="width: 100%">
        <div class="col-12 col-sm-4 mb-3">
            <label for="start">Start</label>
            <input class="form-control" type="date" name="start" id="start">
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label for="end">End</label>
            <input class="form-control" type="date" name="end" id="end">
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <input class="btn btn-outline-info" type="submit" value="Submit">
        </div>
    </form>
</div>

<div class="row pt-3 mb-sm-3 text-center">
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-warning">${{ billed }}</h1>
        <h5 class="text-warning">Billed</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-info">${{ received }}</h1>
        <h5 class="text-info">Received</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-danger">${{ due }}</h1>
        <h5 class="text-danger">Due</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-primary">${{ gross }}</h1>
        <h5 class="text-primary">Gross Profits</h5>
    </div>
</div>
<div class="row text-center">
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-warning">${{ owed }}</h1>
        <h5 class="text-warning">Owed</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-info">${{ paid }}</h1>
        <h5 class="text-info">Paid</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-danger">${{ earnings_due }}</h1>
        <h5 class="text-danger">To Pay</h5>
    </div>
    <div class="col-6 col-sm-3 mb-3 mb-sm-0">
        <h1 class="text-success">${{ net }}</h1>
        <h5 class="text-success">Net Profits</h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 col-sm-6">
        <h4>Client Balances</h4>

        {% if unpaid|length > 0 %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for client in unpaid %}
                
                <tr>
                    <!-- <td><a href="{% url 'accounting-detail' user_id=client.client.user.id %}">{{ client.client.user.first_name }} {{ client.client.user.last_name }}</a></td> -->
                    <td>{{ client.client.user.first_name }} {{ client.client.user.last_name }}</td>
                    <td><span class="text-success">${{ client.total_owed }}</span></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <div class="alert alert-success">All clients have paid in full!</div>

        {% endif %}
    </div>

    <div class="col-12 hidden-sm-up">
        <hr />
    </div>

    <div class="col-12 col-sm-6">
        <h4>Owed to Employees</h4>
        {% if professorsOwed|length > 0 %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professorsOwed %}
                
                <tr>
                    <!-- <td><a href="{% url 'accounting-detail' user_id=professor.professor.user.id %}">{{ professor.professor.user.first_name }} {{ professor.professor.user.last_name }}</a></td> -->
                    <td>{{ professor.professor.user.first_name }} {{ professor.professor.user.last_name }}</td>
                    <td><span class="text-danger">${{ professor.total_owed }}</span></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        
        {% else %}

        <div class="alert alert-success">All employees have been paid in full!</div>

        {% endif %}
    </div>
</div>

{% endblock %}