{% extends 'base.html' %} 



{% block content %}

<br>

<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a href="{% url 'csv-upload' %}" class="btn btn-outline-primary">Upload CSV</a>
            <a href="{% url 'add-client' %}" class="btn btn-outline-success">Add Client</a>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                
                <tr>
                    <td><a href="{% url 'client-sessions' client_id=client.id %}">{{ client.user.first_name }} {{ client.user.last_name }}</a></td>
                    <td>{{ client.address }}</td>
                    <td><a href="{% url 'edit-client' pk=client.user.id %}" class="btn btn-block btn-outline-warning"><span class="fa fa-pencil-square-o"></span></a></td>
                    <td><a href="{% url 'delete-user' pk=client.user.id %}" class="btn btn-block btn-outline-danger"><span class="fa fa-trash"></span></a></td>
                    <td><a href="{% url 'add-session' %}?client={{ client.id }}" class="btn btn-block btn-outline-success"><span class="fa fa-plus"></span></a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}