{% extends 'tutoring/base.html' %} 

{% block content %}

<div class="container">
    <br>
   
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a href="" class="btn btn-outline-primary">Upload CSV</a>
                <a href="" class="btn btn-outline-success">Add Client</a>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    
                    <tr>
                        <td>{{ client.user.first_name }} {{ client.user.last_name }}</td>
                        <td>{{ client.address }}</td>
                        <td><a href="{% url 'edit-user' pk=client.user.id %}" class="btn btn-block btn-outline-warning"><span class="fa fa-pencil-square-o"></span></a></td>
                        <td><a href="" class="btn btn-block btn-outline-danger"><span class="fa fa-trash"></span></a></td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}