{% extends 'base.html' %} 

{% block content %}

<br>

<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a href="{% url 'add-professor' %}" class="btn btn-success">Add Professor</a>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Wage</td>
                    <th>Miles Driven</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Session</th>
                </tr>
            </thead>
            <tbody>
                {% for professor in professors %}
                
                <tr>
                    <td><a href="{% url 'professor-sessions' professor_id=professor.id %}">{{ professor.user.first_name }} {{ professor.user.last_name }}</a></td>
                    <td>${{ professor.wage }}</td>
                    <td>{{ professor.miles_driven }}</td>
                    <td><a href="{% url 'edit-professor' pk=professor.user.id %}" class="btn btn-block btn-outline-warning"><span class="fa fa-pencil-square-o"></span></a></td>
                    <td><a href="{% url 'deactivate-professor' professor_id=professor.id %}" class="btn btn-block btn-outline-danger"><span class="fa fa-trash"></span></a></td>
                    <td><a href="{% url 'add-session' %}?professor={{ professor.id }}" class="btn btn-block btn-outline-success"><span class="fa fa-plus"></span></a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}