{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="text-center">

    {% if session.cancelled %}
    <div class="row mb-2">
        <div class="col-12">
            <span class="h4 text-danger">Session Cancelled</span>
        </div>
    </div>
    {% else %}
    <div class="row mb-2">
        <div class="col-12">
            <span class="h4">{{ session.date }}</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <span class="h4">{{ session.start_time }} - {{ session.end_time }}</span>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-sm-6 mb-3">
            <div class="card card-inverse" style="background: #333">
                <h4 class="card-header">Client</h4>
                <div class="card-block">
                    <div class="row">
                        <div class="col-12"> 
                            <h5>{{ session.client.user.first_name }} {{ session.client.user.last_name }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h6>{{ session.client.address|linebreaks }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6><span class="fa fa-phone"> </span> {{ session.client.formatted_phone }}</h6>
                            {% if session.client.website %}
                            <h6><span class="fa fa-laptop"> </span> <a href="{{ session.client.website }}">{{ session.client.website }}</a></h6>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            {% if session.client.wifi_ssid %}
                            <h6><span class="fa fa-wifi"> </span> {{ session.client.wifi_ssid }}</h6>
                            {% endif %}
                            {% if session.client.wifi_password %}
                            <h6><span class="fa fa-key"> </span> {{ session.client.wifi_password }}</h6>
                            {% endif %}
                        </div>
                    </div>

                    <hr style="background-color: rgba(255, 255, 255, 0.65);">
                            
                    <div class="row">
                        <div class="col-4">
                            <h5 class="text-warning" style="margin-bottom: 0;">${{ session.billed }}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="text-success" style="margin-bottom: 0;">${{ session.paid }}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="text-danger" style="margin-bottom: 0;">${{ session.remaining }}</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="text-warning" style="margin-bottom: 0;">Billed</p>
                        </div>
                        <div class="col-4">
                            <p class="text-success" style="margin-bottom: 0;">Paid</p>
                        </div>
                        <div class="col-4">
                            <p class="text-danger" style="margin-bottom: 0;">Balance</p>
                        </div>
                    </div>

                    {% if user.usertype == 'manager' %}

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" id="payment" placeholder="Payment Amount" style="border-color: white;">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="modifyPayment">Log</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="card card-inverse" style="background: #333">
                <h4 class="card-header">Professor</h4>
                <div class="card-block">
                    <div class="row">
                        <div class="col-12"> 
                            <h5>{{ session.professor.user.first_name }} {{ session.professor.user.last_name }}</h5>
                            {% if user.usertype == 'manager' or user.usertype == 'professor' %}
                            
                            <h6>{{ session.distance }} miles traveled</h6>

                            {% endif %}
                        </div>
                    </div>


                    {% if user.usertype == 'professor' or user.usertype == 'manager' %}
                    <hr style="background-color: rgba(255, 255, 255, 0.65);">
                            
                    <div class="row">
                        <div class="col-4">
                            <h5 class="text-warning" style="margin-bottom: 0;">${{ session.earnings }}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="text-success" style="margin-bottom: 0;">${{ session.earnings_paid }}</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="text-danger" style="margin-bottom: 0;">${{ session.earnings_remaining }}</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p class="text-warning" style="margin-bottom: 0;">Earned</p>
                        </div>
                        <div class="col-4">
                            <p class="text-success" style="margin-bottom: 0;">Paid</p>
                        </div>
                        <div class="col-4">
                            <p class="text-danger" style="margin-bottom: 0;">Balance</p>
                        </div>
                    </div>

                    {% if user.usertype == 'manager' %}

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" id="earnings" placeholder="Disbursement Amount" style="border-color: white;">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="modifyEarnings">Log</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

<hr />



{% if user.usertype == 'manager' or user.usertype == 'professor' %}

<div class="row mb-2">
    <div class="col-6">
        <h4>Notes</h4>
    </div>
    <div class="col-6">
         <button id="modifyNotes" class="btn btn-outline-info btn-block">Modify Notes</button>
    </div>
</div>

<script src="{% static 'js/session-detail.js' %}" type="text/javascript"> </script>

<input id="sessionId" type="hidden" value="{{ session.id }}" />
{% csrf_token %}

<div class="row">
    <div class="col-12">
        <textarea class="form-control" rows=3 id="notes">{{ session.notes|default_if_none:"" }}</textarea>
    </div>
</div>

{% if not session.cancelled %}
<div class="row">
    <div class="col-12">
        <br>
        <form class="form" action="{% url 'session-cancel' session_id=session.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger btn-block" value="Cancel Session" />
        </form>
    </div>
</div>
{% endif %}

{% else %}

<div class="row">
    <div class="col-12 col-sm-6">
        <h4>Notes</h4>
        <p>{{ session.notes }}</p>
    </div>
    <form class="form" action="#" method="POST">
        {% csrf_token %}
        <div class="col-12">
            <h4>Contact</h4>
            {% for field in form %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
        </div>
        <div class="col-12 col-sm-6 offset-sm-6">
            <br>
            <input type="submit" value="Send" class="btn btn-outline-primary btn-block" />
        </div>
    </form> 
</div>

{% endif %}

<br>

{% endblock %}